body{
    font-family: 'Sriracha', cursive;
}

.question-card{
  display: none;
}

.view-scores-btn{
  display: none;;
}

.result-card{
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
  }

  .error-span{
    font-size: 12px;
    font-style: italic;
  }